@keyframes move-up-down {
  0% {
    transform: translateY(0); /* Position initiale */
  }
  25% {
    transform: translateY(0); /* Position initiale */
  }
  50% {
    transform: translateY(-4px); /* Monte de 4px */
  }
  /* 75% {
          transform: translateY(-4px); /* S'arrête à 8px pendant 0.5s */
  /* }  */
  100% {
    transform: translateY(0); /* Redescend à la position initiale */
  }
}
@keyframes notif-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes button-harvest-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.custom-badge-notif {
  position: absolute;
  top: -5px;
  right: -5px;
  transform: translate(50%, -50%);

  /* Fond rouge avec un léger dégradé */
  background: linear-gradient(145deg, #ff3d00, #e60707) !important;
  border: 2px solid yellow !important;
  color: rgb(225, 255, 0) !important;
  text-shadow: 1px 1px 0 #000;

  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;

  /* overflow: hidden; 👈 empêche le ! de sortir du carré */
  z-index: 10;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8) !important;
  animation: notif-anim 2s infinite ease-in-out;
}

.pulse-char {
  display: inline-block;
  /* animation: pulse-scale 1s infinite ease-in-out; */

  /* Animation de pulsation + montée/descente */
  animation: move-up-down 2s infinite ease-in-out;
}
.custom-border {
  border: 1px solid #00a26f;
}
.custom-shadow-buyable {
  box-shadow:    /* ombre "portée", plus foncée */ 3px 3px 3px 3px
    rgba(0, 123, 255, 0.5); 
}
.custom-shadow-possessed {
  box-shadow:    /* ombre "portée", plus foncée */ 3px 3px 3px 3px
    rgba(90, 159, 104, 0.5); /*lumière "réfléchie", plus claire */
  /* 3px 3px 3px 3px #ff6961; lumière "réfléchie", plus claire */
}

.custom-shadow-buy-blue {
  /* box-shadow:    
     3px 3px 3px 3px rgba(9, 62, 133, 0.803);  */
  /* 3px 3px 3px 3px #ff6961; lumière "réfléchie", plus claire */
  /* box-shadow: 3px 3px 3px 3px #0056b3; */
  /* box-shadow: 6px 6px 10px rgba(0, 86, 179, 0.9); */
}
.custom-bg-card {
  background-color: #313742;
}
.custom-bg-parrot-green {
  background-color: #5a9f68;
}

.custom-form-group {
  display: flex;
}

.custom-cooldown-wrapper {
  width: 100%;
  max-width: 300px;
  height: 30px;
  /* background-color: #9d9292; */
  /* background-color: #aeafb1; */
  background-color: #1f2630;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
}

.custom-cooldown-bar {
  height: 100%;
  background: rgb(255, 183, 0);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 315px;
  transition: width 1s linear;
  width: 0%; /* Commence plein, diminue ensuite */
}
.custom-cooldown-bar-refresh {
  height: 100%;
  background: rgb(255, 183, 0);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  width: 0%; /* Commence plein, diminue ensuite */
}

.custom-cooldown-text {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: white;
  pointer-events: none;
}

/* harvestable card */
.harvest-card {
  background-color: #fefefe ;
  color: rgb(63, 75, 84);
  border-radius: 1rem;
  padding: 1.5rem;
  min-width: 250px;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.timer {
  font-size: 1.2rem;
  font-weight: bold;
  /* background-color: #1f2630 ; */
  background-color: #1f2630 ;
  padding: 0.1rem 1rem;
  border-radius: 999px;
  margin-bottom: 1rem;
  display: inline-block;
}

.item-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
  max-width: 280px;
  margin: 0 auto;
}

.harvest-button {
  background-color: #5a9f68;
  font-weight: 600;
  letter-spacing: 1px;
  /* font-size: 20rem; */
  border: none;
  padding: 0.6rem 2.0rem;
  font-size: 1.2rem;
  /* color: #fff; */
  color: #000;
  border-radius: 999px;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 0 #456d4d, /* ombre en bas */ -2px 2px 0 #456d4d,
    /* ombre à gauche */ 2px 2px 0 #456d4d; /* ombre à droite */
  }
p>a {
  display: inline-block;
  background-color: #5a9f68;
  font-weight: 600;
  letter-spacing: 1px;
  /* font-size: 20rem; */
  border: none;
  padding: 0.6rem 2.0rem;
  font-size: 1.2rem;
  /* color: #fff; */
  color: #000;
  border-radius: 999px;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 0 #456d4d, /* ombre en bas */ -2px 2px 0 #456d4d,
    /* ombre à gauche */ 2px 2px 0 #456d4d; /* ombre à droite */
  }
.animate-button-harvest{
  animation: button-harvest-anim 2s infinite ease-in-out;
  
}
.harvest-button:hover, p>a:hover {
  transform: scale(1.05);
  animation: none;
}
.buy-button {
  background-color: #007bff;
  font-weight: 600;
  letter-spacing: 1px;
  /* font-size: 20rem; */
  padding: 0.6rem 2.0rem;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 999px;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 0 #014691, /* ombre en bas */ -2px 2px 0 #014691,
  /* ombre à gauche */ 2px 2px 0 #014691; /* ombre à droite */
  max-width: 140px;
  margin: auto;
}
.no-money{
  padding: 0.6rem 2.0rem;
  font-size: 1.2rem;
}
.buy-button:hover{
  transform: scale(1.05);
}
.buy-button>a{

}
.buy-button>a:hover {
  text-decoration: none;
  color: white;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 1rem;
  /* background-color: #fefee2; */
  background-color: #ffffff;
  border-radius: 999px;
  font-size: 1rem;
  max-width: 280px;
  white-space: nowrap;
}
.gain {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: white;
  border-radius: 999px;
  font-size: 1rem;
  max-width: 280px;
  white-space: nowrap;
}
.price {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 1rem;
  max-width: 280px;
  white-space: nowrap;
}
.value {
  font-weight: 600;
  font-size: 1.2rem;
}
.card-title{
  font-size: 2rem;
}

.icon {
  margin-right: 0.3rem;
}

.icon-euro {
  width: 30px;
}
.icon-star {
  width: 30px;
}

.xp-bar {
  /* background-color: #aeafb1; */
  background-color: #1f2630;
  height: 8px;
  border-radius: 999px;
  /* margin-top: 0.8rem; */
  overflow: hidden;
  max-width: 180px;
  margin: 0 auto;
}
.coin{
  width: 50px;
}
.xp{
  width: 50px;
}
.progress {
  background-color: #4facfe;
  height: 100%;
  transition: width 0.3s ease;
}
