{% extends 'base.html.twig' %}

{% block title %}Si extraordinaire{% endblock %}

{% block body %}
<h1>Bienvenue sur mon site</h1>
<a href={{ path('app_purchase_index') }}>Jouer à ibei</a>
{% endblock %}
